@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-container {
  overflow: hidden;
}

.logo-list {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

.relative:hover .overlay {
  opacity: 0.8;
}

@media (max-width: 768px) {
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
